/**********************************************************************/
/**********************************************************************/
.page-add-article__head {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
	padding-bottom: 35px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.page-add-article__title {
	margin-bottom: 15px;
	font-family: "KB Astrolyte", sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 100%;
	color: #FFFFFF;
}
.page-add-article__subtitle {
	font-family: "NoahText", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.7);
}


/**********************************************************************/
/**********************************************************************/
.page-add-article .formarea .formarea__subtitle {
	color: #FFFFFF;
}
.page-add-article .formarea .row {
	padding-top: 10px;
	margin-bottom: 30px;
}
.page-add-article .formarea .formarea__note {
	margin: -5px 0 15px;
	font-family: "NoahText", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
}
.page-add-article .formarea .color-cards__list {
	display: flex;
}
.page-add-article .formarea .color-cards__list-item {
	position: relative;
	width: 45px;
	height: 45px;
	margin-right: 20px;
	border-radius: 4px;
	transition: border-color 0.3s, opacity 0.3s;
	cursor: pointer;
}
.page-add-article .formarea .color-cards__list-item[data-value="1"] {
	background-color: #66DDDB;
}
.page-add-article .formarea .color-cards__list-item[data-value="2"] {
	background-color: #636DCF;
}
.page-add-article .formarea .color-cards__list-item[data-value="3"] {
	background: linear-gradient(35deg, #66DDDB 0%, #64ACD6 55%, #626DCF 100%);
}
.page-add-article .formarea .color-cards__list-item:not(.active):hover {
	opacity: 0.6;
}
.page-add-article .formarea .color-cards__list-item:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 4px solid #FFFFFF;
	border-radius: 4px;
	opacity: 0;
	transition: opacity 0.3s;
}
.page-add-article .formarea .color-cards__list-item.active:after {
	opacity: 1;
}
.page-add-article .page-add-article__submit-row {
	display: flex;
	justify-content: space-between;
}
.page-add-article .formarea__submit input {
	padding: 20px 70px;
}
.page-add-article .formarea__error {
	margin-top: 40px;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}


/**********************************************************************/
/**********************************************************************/
.page-add-article .speakers {
	margin-bottom: 90px;
}
.page-add-article .speakers .formarea__line {
	margin-bottom: 25px !important;
}
.page-add-article .speakers__input {
	position: relative;
	width: 480px;
	max-width: 100%;
}
.page-add-article .speakers__input:after {
	content: "";
    position: absolute;
	top: 60px;
	left: 15px;
	right: 15px;
	display: block;
	height: 1px;
	opacity: 0;
	background-color: rgba(19, 21, 26, 0.2);
	transition: opacity 0.3s;
	z-index: 25;
}
.page-add-article .speakers__input.open:after {
	opacity: 1;
}
.page-add-article .speakers__input input {
	padding-right: 60px;
	border-color: #F4F8FF;
	background-color: #F4F8FF;
	overflow: hidden;
    white-space: nowrap;
}
.page-add-article .speakers__input.open input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.page-add-article .speakers__input input:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 60px;
	background-color: #E1ECFF;
}
.page-add-article .speakers__input-icon {
	position: absolute;
	top: 30px;
	right: 20px;
	transform: translateY(-50%);
	width: 20px;
}

/**********************************************************************/
.page-add-article .found-speakers {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
	max-height: 200px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-top: 15px;
    background-color: #F4F8FF;
	box-shadow: 0 3px 3px rgb(0, 0, 0, 0.3);
    overflow-y: auto;
    z-index: 20;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}
.page-add-article .speakers__input.open .found-speakers {
	opacity: 1;
	pointer-events: initial;
}
.page-add-article .found-speakers::-webkit-scrollbar-track {
	background: #CED7E5;
}
.page-add-article .found-speakers::-webkit-scrollbar-thumb {
	background: linear-gradient(200deg, #1C1F26 0%, #252933 60%);
}
.page-add-article .found-speaker {
	display: flex;
	min-height: 90px;
	padding: 17px 15px;
	background-color: #F4F8FF;
	transition: background-color 0.3s;
}
.page-add-article .found-speaker:hover {
    background-color: #E9F1FF;
}
.page-add-article .found-speaker__img {
	display: flex;
	width: 64px;
	margin: auto 10px auto 0;
	border-radius: 10px;
	transition: background-color 0.3s;
}
.page-add-article .found-speaker__name {
	width: calc(100% - 140px);
	margin: auto 0;
}
.page-add-article .found-speaker__name p {
	font-family: "NoahText", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #13151A;
}
.page-add-article .found-speaker__add {
	display: flex;
	flex-direction: column;
	width: 60px;
	height: 60px;
	margin: auto 0 auto 5px;
	border-radius: 6px;
	background-color: rgba(19, 21, 26, 0.8);
	transition: opacity 0.3s;
	cursor: pointer;
}
.page-add-article .found-speaker__add:hover {
	opacity: 0.6;
}
.page-add-article .found-speaker__add img {
	width: 24px;
	margin: auto;
}
.page-add-article .found-speaker__none {
	padding: 0 15px 15px;
	font-family: "NoahText", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #F5362D;
}

/**********************************************************************/
.page-add-article .speakers__subtitle {
	margin-bottom: 15px;
	font-family: "BrutalType", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}
.page-add-article .speakers__items {
	display: flex;
	flex-wrap: wrap;
}
.page-add-article .speakers__items .speaker {
	position: relative;
	display: flex;
	width: 300px;
	padding: 20px 20px 20px 25px;
	margin: 0 25px 25px 0;
	border-radius: 4px;
	background-color: #16191F;
}
.page-add-article .speakers__items .speaker__body {
	display: flex;
	width: calc(100% - 30px);
	margin: auto 0;
	transition: opacity 0.3s;
	cursor: pointer;
}
.page-add-article .speakers__items .speaker__body:hover {
	opacity: 0.6;
}
.page-add-article .speakers__items .speaker__img {
	width: 60px;
	margin: auto 10px auto 0;
	border-radius: 10px;
}
.page-add-article .speakers__items .speaker__name {
	width: calc(100% - 70px);
	margin: auto 0;
}
.page-add-article .speakers__items .speaker__name p {
	font-family: "NoahText", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}
.page-add-article .speakers__items .speaker__remove {
	display: flex;
	flex-direction: column;
	width: 25px;
	height: 25px;
	margin: auto 0 auto 5px;
	transition: opacity 0.3s;
	cursor: pointer;
}
.page-add-article .speakers__items .speaker__remove:hover {
	opacity: 0.6;
}
.page-add-article .speakers__items .speaker__remove img {
	width: 16px;
	margin: auto;
}


/**********************************************************************/
/**********************************************************************/
.speaker-popup__head {
	display: flex;
	margin-bottom: 35px;
}
.speaker-popup__img {
	width: 120px;
	margin: 0 30px auto 0;
	border-radius: 10px;
}
.speaker-popup__name {
	width: calc(100% - 150px);
	margin: auto 0;
}
.speaker-popup__name p {
	font-family: "BrutalType", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
}
.speaker-popup__body {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
}
.speaker-popup__item {
	margin-bottom: 25px;
}
.speaker-popup__item:last-child {
	margin-bottom: 0;
}
.speaker-popup__label {
	margin-bottom: 5px;
	font-family: "NoahText", sans-serif;
	font-size: 16px;
	line-height: 120%;
	color: #AAAAAA;
}
.speaker-popup__value {
	font-family: "NoahText", sans-serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}
.speaker-popup__add {
	position: relative;
	margin-bottom: 70px;
	transition: opacity 0.3s;
}
.speaker-popup__add.disabled {
	opacity: 0.3;
}
.speaker-popup__add span {
	display: flex;
    justify-content: center;
}
.speaker-popup__add span img {
	width: 24px;
	margin: auto 5px auto 0;
}
.speaker-popup__add:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -35px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}
.speaker-popup__cancel {
	margin: 10px auto 0;
	font-family: "KB Astrolyte", sans-serif;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.04em;
	color: rgba(255, 255, 255, 0.5);
	transition: color 0.3s;
	cursor: pointer;
}
.speaker-popup__cancel:hover {
	color: #FFFFFF;
}


/**********************************************************************/
/**********************************************************************/
.page-add-article .moderation {
	margin-top: 60px;
}
.page-add-article .moderation__title {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
}
.page-add-article .moderation__body {
	margin-bottom: 20px;
	padding: 20px;
	border: 2px solid #F5362D;
	font-size: 18px;
	line-height: 24px;
	color: #F5362D;
}
.page-add-article .moderation__note {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}
.page-add-article .moderation__note a {
	color: #66DDDB;
	text-decoration: underline;
	transition: opacity 0.3s;
}
.page-add-article .moderation__note a:hover {
	opacity: 0.6;
}


/**********************************************************************/
/**********************************************************************/
.page-add-article .editor-form {
	margin-top: 40px;
	margin-bottom: 90px;
}



/**********************************************************************/
/*********************         RESPONSIVE         *********************/
/**********************************************************************/
@media screen and (max-width: 1440px) {
	/******************************************************************/
	/******************************************************************/
	.page-add-article__subtitle {
		font-size: 16px;
		line-height: 20px;
	}


	/******************************************************************/
	/******************************************************************/
	.page-add-article .formarea .row {
		padding-top: 0;
		margin-bottom: 20px;
	}
	.page-add-article .formarea__submit input {
		padding: 10px 40px;
	}
	.page-add-article .formarea__error {
		margin-top: 30px;
		font-size: 16px;
		line-height: 20px;
	}

	/******************************************************************/
	/******************************************************************/
	.page-add-article .editor-form {
		margin-bottom: 60px;
	}
	
	
	/******************************************************************/
	/******************************************************************/
	.page-add-article .speakers {
		margin-bottom: 60px;
	}
	
	.page-add-article .speakers__input input {
		padding-right: 40px;
	}
	.page-add-article .speakers__input:after {
		top: 50px;
		left: 10px;
		right: 10px;
	}
	.page-add-article .speakers__input input:before {
		width: 40px;
	}
	.page-add-article .speakers__input-icon {
		top: 25px;
		right: 10px;
	}

	/******************************************************************/
	.page-add-article .found-speakers {
		top: 50px;
	}
	.page-add-article .found-speaker {
		padding: 13px 11px;
	}
	.page-add-article .found-speaker__name p {
		font-size: 16px;
		line-height: 20px;
	}
	.page-add-article .found-speaker__none {
		padding: 0 11px 15px;
		font-size: 16px;
		line-height: 20px;
	}

	/******************************************************************/
	.page-add-article .speakers__items .speaker {
		padding: 20px;
		margin: 0 20px 20px 0;
	}
	.page-add-article .speakers__items .speaker__name p {
		font-size: 16px;
		line-height: 20px;
	}


	/******************************************************************/
	/******************************************************************/
	.speaker-popup__body {
		margin-bottom: 25px;
	}
	.speaker-popup__item {
		margin-bottom: 20px;
	}
	.speaker-popup__label {
		font-size: 14px;
	}
	.speaker-popup__value {
		font-size: 16px;
		line-height: 20px;
	}
	.speaker-popup__add {
		margin-bottom: 60px;
	}
	.speaker-popup__add span img {
		width: 20px;
	}
	.speaker-popup__add:after {
		bottom: -30px;
	}
	.speaker-popup__cancel {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0;
	}
}

@media screen and (max-width: 767px) {
	/******************************************************************/
	/******************************************************************/
	.page-add-article__head {
		margin-bottom: 25px;
		padding-bottom: 15px;
	}
	.page-add-article__title {
		font-size: 32px;
	}
	.page-add-article .page-add-article__submit-row {
		flex-direction: column;
		align-items: center;
	}
	.page-add-article .formarea__submit {
		width: 260px;
		margin-bottom: 25px;
	}
	.page-add-article .formarea__error {
		margin-top: 0;
		font-size: 14px;
		text-align: center;
	}


	/******************************************************************/
	/******************************************************************/
	.page-add-article .moderation {
		margin-top: 30px;
		margin-bottom: 40px;
	}
	.page-add-article .moderation__title {
		font-size: 20px;
		line-height: 20px;
		text-align: center;
	}
	.page-add-article .moderation__body {
		padding: 10px;
		font-size: 14px;
		line-height: 18px;
	}
	.page-add-article .moderation__note {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
	}


	/******************************************************************/
	/******************************************************************/
	.page-add-article .editor-form {
		margin-bottom: 40px;
	}
	
	
	/******************************************************************/
	/******************************************************************/
	.page-add-article .speakers {
		margin-bottom: 30px;
	}
	.page-add-article .speakers__input {
		width: 320px;
	}
	.page-add-article .speakers__input:after {
		top: 42px;
		left: 11px;
		right: 11px;
	}
	.page-add-article .speakers__input-icon {
		top: 21px;
	}

	/******************************************************************/
	.page-add-article .found-speakers {
		top: 42px;
	}
	.page-add-article .found-speaker__name {
		width: calc(100% - 120px);
	}
	.page-add-article .found-speaker__name p {
		font-size: 14px;
		line-height: 18px;
	}
	.page-add-article .found-speaker__add {
		width: 40px;
		height: 40px;
	}
	.page-add-article .found-speaker__add img {
		width: 16px;
	}
	.page-add-article .found-speaker__none {
		font-size: 14px;
		line-height: 18px;
	}

	/******************************************************************/
	.page-add-article .speakers__subtitle {
		font-size: 16px;
		line-height: 20px;
	}
	.page-add-article .speakers__items .speaker {
		width: 280px;
		margin: 0 15px 15px 0;
	}
	
	
	/******************************************************************/
	/******************************************************************/
	.speaker-popup__head {
		margin-bottom: 25px;
	}
	.speaker-popup__img {
		width: 50px;
		margin-right: 10px;
	}
	.speaker-popup__name {
		width: calc(100% - 60px);
	}
	.speaker-popup__name p {
		font-size: 16px;
		line-height: 18px;
	}
	.speaker-popup__item {
		margin-bottom: 15px;
	}
	.speaker-popup__add {
		margin-bottom: 50px;
	}
	.speaker-popup__add:after {
		bottom: -25px;
	}
}